*.iml
.gradle
local.properties
.externalNativeBuild
.cxx
local.properties

.idea/
.kotlin/
.gradle/
.externalNativeBuild/
.cxx/
captures/
build/
**/build/

.agents/
.codex/
.serena/
Temp/
docs/

*.apk
.DS_Store